:root {
    --primary-main: #2D3032;
    --primary-light: #D2D3D3;

    --secondary-main: #9615DB;

    --otherColor-main: #555759;
    --otherColor-light: #7D7F80;
    --otherColor-bodyBackground: #1A1A1D;
}